In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [35]:
#Store Part I results into DataFrame
#Load the csv exported in Part I to a DataFrame
weather_df = pd.read_csv("../output_data/Cities.csv")
weather_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [63]:
#Humidity Heatmap
#Configure gmaps.
gmaps.configure(api_key = "AIzaSyB6m9lD480UOwsUt5Dd1oj-2stw3dr8lvw")
#Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
#Drop any rows will null values.
new_weather = weather_df.loc[(weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] > 10) & (weather_df["Cloudiness"] < 40) & (weather_df["Max Temp"] > 60) & (weather_df["Max Temp"] < 80)].dropna()
new_weather

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
22,22,ambon,11,FR,1558378758,93,47.55,-2.56,64.99,5.82
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
44,44,puerto ayora,26,EC,1558378762,86,-0.74,-90.35,79.00,5.99
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70
86,86,nikolskoye,20,RU,1558378770,56,59.70,30.79,69.01,4.47
153,153,porto novo,20,BR,1558378783,53,-23.68,-45.44,77.00,4.70
201,201,luanda,20,AO,1558378792,78,-8.83,13.24,78.80,6.93
211,211,labuhan,18,ID,1558378794,86,-2.54,115.51,75.48,2.80
215,215,le port,25,FR,1558378795,64,42.87,1.37,60.01,4.47
221,221,marawi,12,PH,1558378796,93,8.00,124.29,77.00,5.01
223,223,koronowo,20,PL,1558378736,60,53.31,17.94,71.01,3.36
234,234,katobu,17,ID,1558378814,93,-4.94,122.53,75.66,1.54
237,237,andradas,20,BR,1558378535,56,-22.07,-46.57,79.00,6.93
303,303,yulara,20,AU,1558378845,77,-25.24,130.99,62.60,8.16
310,310,airai,35,TL,1558378846,73,-8.93,125.41,75.12,7.20
360,360,fort nelson,20,CA,1558378858,42,58.81,-122.69,68.00,5.82
381,381,quanzhou,35,CN,1558378863,88,24.90,118.59,69.80,6.71
393,393,juiz de fora,20,BR,1558378833,44,-21.76,-43.35,75.20,8.05
445,445,ingham,24,AU,1558378880,97,-18.65,146.16,64.32,3.29
503,503,kambove,15,CD,1558378891,91,-10.88,26.60,62.52,3.36
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70

In [45]:
#Hotel Map
#Store into variable named hotel_df.
hotel_df = new_weather.loc[:,["City", "Country", "Max Temp", "Lat", "Lng"]]
#Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp    Lat     Lng Hotel Name
22          ambon      FR     64.99  47.55   -2.56
25        kantang      TH     78.80   7.42   99.52
44   puerto ayora      EC     79.00  -0.74  -90.35
69        fortuna      ES     69.80  38.18   -1.13
86     nikolskoye      RU     69.01  59.70   30.79
153    porto novo      BR     77.00 -23.68  -45.44
201        luanda      AO     78.80  -8.83   13.24
211       labuhan      ID     75.48  -2.54  115.51
215       le port      FR     60.01  42.87    1.37
221        marawi      PH     77.00   8.00  124.29
223      koronowo      PL     71.01  53.31   17.94
234        katobu      ID     75.66  -4.94  122.53
237      andradas      BR     79.00 -22.07  -46.57
303        yulara      AU     62.60 -25.24  130.99
310         airai      TL     75.12  -8.93  125.41
360   fort nelson      CA     68.00  58.81 -122.69
381      quanzhou      CN     69.80  24.90  118.59
393  juiz de fora      BR     75.20 -21.76  -43.35
445        ingham      AU     64.32 -18.65  146.16
503       kambove      CD     62.52 -10.88   26.60
522     raudeberg      NO     69.80  61.99    5.14

In [58]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"radius": 5000, "type":"lodging", "keyword":"hotel", "key":"AIzaSyB6m9lD480UOwsUt5Dd1oj-2stw3dr8lvw"}
#Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")     
    print("-------------------------------------")
#Store the first Hotel result into the DataFrame.
hotel_df
#Plot markers on top of the heatmap.

Closest hotel in ambon is Camping Cromenach Ambon Damgan Beach.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in puerto ayora is Finch Bay Galapagos Hotel.
-------------------------------------
Closest hotel in fortuna is Balneario de Leana.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in porto novo is Hotel Pousada Paradise.
-------------------------------------
Closest hotel in luanda is EPIC SANA Luanda.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in le port is Maison Esmeralda Chambres d'Hotes & Gite.
-------------------------------------
Closest hotel in marawi is Marawi Resort Hotel.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in andradas is Hotel Dela Inn.
-------------------------------------
Closest hotel in yulara is Sails in the Desert.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in fort nelson is Woodlands Inn & Suites.
-------------------------------------
Closest hotel in quanzhou is InterContinental Quanzhou.
-------------------------------------
Closest hotel in juiz de fora is Constantino Hotel.
-------------------------------------
Closest hotel in ingham is Lees Hotel.
-------------------------------------
Missing field/result... skipping.
-------------------------------------
Closest hotel in raudeberg is Ulvesund FYR.
-------------------------------------

,City,Country,Max Temp,Lat,Lng,Hotel Name
22,ambon,FR,64.99,47.55,-2.56,Camping Cromenach Ambon Damgan Beach
25,kantang,TH,78.80,7.42,99.52,Kantang Loftel
44,puerto ayora,EC,79.00,-0.74,-90.35,Finch Bay Galapagos Hotel
69,fortuna,ES,69.80,38.18,-1.13,Balneario de Leana
86,nikolskoye,RU,69.01,59.70,30.79,Tourist House - Sablino
153,porto novo,BR,77.00,-23.68,-45.44,Hotel Pousada Paradise
201,luanda,AO,78.80,-8.83,13.24,EPIC SANA Luanda
211,labuhan,ID,75.48,-2.54,115.51,
215,le port,FR,60.01,42.87,1.37,Maison Esmeralda Chambres d'Hotes & Gite
221,marawi,PH,77.00,8.00,124.29,Marawi Resort Hotel
223,koronowo,PL,71.01,53.31,17.94,
234,katobu,ID,75.66,-4.94,122.53,
237,andradas,BR,79.00,-22.07,-46.57,Hotel Dela Inn
303,yulara,AU,62.60,-25.24,130.99,Sails in the Desert
310,airai,TL,75.12,-8.93,125.41,
360,fort nelson,CA,68.00,58.81,-122.69,Woodlands Inn & Suites
381,quanzhou,CN,69.80,24.90,118.59,InterContinental Quanzhou
393,juiz de fora,BR,75.20,-21.76,-43.35,Constantino Hotel
445,ingham,AU,64.32,-18.65,146.16,Lees Hotel
503,kambove,CD,62.52,-10.88,26.60,
522,raudeberg,NO,69.80,61.99,5.14,Ulvesund FYR

In [61]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [62]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))